.add-member-fab {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.clickable-list-item:hover{
  background-color: #ddd;
  cursor: pointer;
}

.clickable-list-item{
  transition:background-color .35s ease-in;
}