<div class="dashboard-container">
  <p>
    dashboard works!
  </p>
  <div class="row">
    <div class="col-xs-6">
      <md-card>
        <md-card-title>Upcoming members to pay</md-card-title>
        <md-card-content>
          <md-list>
            <md-list-item *ngFor="let dto of getActiveMembersWithPendingPayment">
              <div class="row">
                <div class="col-xs-8">{{dto.member}} - {{dto.subscriptionDate | date:"dd - MMMM - y"}}</div>
                <div class="col-xs-4">
                  <md-icon>info</md-icon>
                </div>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-xs-6">
      <md-card>
        <md-card-title>Members late to pay</md-card-title>
        <md-card-content>
          <md-list>
            <md-list-item *ngFor="let member of getActiveMembersWithMissedPayment">
              {{member.name}} - Datum placanja: {{member.subscriptionPayments[0].subscriptionDate | date:"dd/MMMM/y"}}
              <md-icon>info</md-icon>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <button (click)="dropDb()"> drop db </button>
  <button md-fab class="add-member-fab" (click)="openAddMemberDialog()"><md-icon>add</md-icon></button>
</div>