<h2 md-dialog-title>Uplata</h2>
<form #paymentEditForm="ngForm" (ngSubmit)="onSubmit()">
  <md-dialog-content>
    <div class="row">
      <div class="col-xs-6">
        <md-input-container>
          <input mdInput [disabled]="isSavingInProcess" placeholder="Datum uplate" [mdDatepicker]="myDatepicker" [(ngModel)]="subscriptionPayment.subscriptionDate"
            name="subscriptionDate">
          <button mdSuffix [disabled]="isSavingInProcess" [mdDatepickerToggle]="myDatepicker"></button>
        </md-input-container>
        <md-datepicker #myDatepicker></md-datepicker>
      </div>
    </div>
    <div class="row">
      <md-checkbox [(ngModel)]="isMemberStaying" name="isMemberStaying" [disabled]="isSavingInProcess">
        Član nastavlja preplatu?
      </md-checkbox>
    </div>
    <div class="row">
      <md-checkbox [(ngModel)]="isInAdvance" name="isInAdvance" [disabled]="isSavingInProcess">
        Plaća li se više uplata?
      </md-checkbox>
    </div>
    <div class="row">
      <md-input-container *ngIf="isInAdvance">
        <input type="number" min="1" mdInput [disabled]="isSavingInProcess" placeholder="Koliko uplata?" [(ngModel)]="monthsInAdvance"
          name="monthsInAdvance">
      </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-button type="submit">Save</button>
    <md-progress-spinner class="spinner-size" *ngIf="isSavingInProcess" mode="indeterminate"></md-progress-spinner>
  </md-dialog-actions>
</form>