<md-sidenav-container class="app-container">
  <md-sidenav #sidenav>

    <a routerLink="/dashboard" routerLinkActive="active" (click)="sidenav.close()">Dashboard</a>
    <a routerLink="/members" routerLinkActive="active" (click)="sidenav.close()">Member list</a>
  </md-sidenav>

  <div>
    <md-toolbar>
      <button type="button" md-icon-button (click)="sidenav.open()">
        <md-icon >menu</md-icon>
      </button>
      <span>{{title}}</span>

    </md-toolbar>
    <router-outlet></router-outlet>

  </div>

</md-sidenav-container>