<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">

    <a routerLink="/dashboard" (click)="sidenav.close()">Dashboard</a>
    <a routerLink="/members" (click)="sidenav.close()">Member list</a>
  </md-sidenav>

  <div class="example-sidenav-content">
    <md-toolbar>
      <button type="button" md-icon-button (click)="sidenav.open()">
        <md-icon >menu</md-icon>
      </button>
      <span>Welcome to {{title}}</span>

    </md-toolbar>
    <router-outlet></router-outlet>

  </div>

</md-sidenav-container>