/* You can add global styles to this file, and also import other style files */
@import "./girya-theme.scss"; 
@import "~assets/flexboxgrid.min.css";
/* Flex grid system definition */

html, 
body, 
app, 
md-sidenav-container, 
.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.router-container{
    margin: 2%;
    min-width: 600px;
    overflow: hidden;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
}