/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Flex grid system definition */
html {
  height: 100%;
}
body { position:absolute; top:0; bottom:0; right:0; left:0; }
.app-container {
    width: 100%;
    min-height: 100%;
}


.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.col-half {
    flex: 0 2 50%
}

.col-tenth {
    flex: 0 0 10%
}
