<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <button md-button (click)="openAddMemberDialog()">Dodaj člana</button>
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Pretraži po imenu">
    </md-input-container>
  </div>

  <md-table #table [dataSource]="memberDataSource">

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef> Puno ime </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="phoneNumber">
      <md-header-cell *cdkHeaderCellDef> Kontakt broj </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.phoneNumber}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="active">
      <md-header-cell *cdkHeaderCellDef> Je li aktivan?</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.isActive ? "Da" : "Ne"}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="info">
      <md-header-cell *cdkHeaderCellDef> Detalji </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <button md-icon-button (click)="onSelect(row)">
          <md-icon>info</md-icon>
        </button>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>