<md-progress-spinner class="spinner-size" *ngIf="!member" mode="indeterminate"></md-progress-spinner>

<div *ngIf="member">
  <md-card style="width: 500px;">
    <md-card-title>{{member.name}}</md-card-title>
    <md-card-subtitle>{{member.isActive ? "Aktivan" : "Inaktivan"}}</md-card-subtitle>
    <p><b>Broj telefona: </b>{{member.phoneNumber}}</p>
    <p><b>Detalji o preplati: </b>{{member.membershipSubscription}}</p>
  </md-card>
  <md-list>
    <h3 md-subheader>Uplate</h3>
    <md-divider></md-divider>
    <md-list-item *ngFor="let payment of memberPayments">
      <md-icon md-list-icon *ngIf="payment.isPaid">done</md-icon>
      <md-icon md-list-icon *ngIf="!payment.isPaid">error</md-icon>
      <p md-line>Datum uplate: <b>{{payment.subscriptionDate | date:"dd - MMMM - y"}}</b></p>
      <button md-button *ngIf="!payment.isPaid" (click)="paySubscription(payment)">Uplati</button>
      <button md-button *ngIf="payment.isPaid" (click)="details(payment)">Detalji</button>
    </md-list-item>
  </md-list>
</div>